.development {
  padding-top: 0;

  &__list {
    display: flex;
  }

  &__item {
    position: relative;
  }

  &__item + &__item {
    margin-left: 30px;
  }

  /* Thumbs */
  &__desc {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 27px 0;
    background-color: $dev-bg;
  }

  &__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: get-color('primary-bg');
  }
}
