.footer {
  background-color: get-color('ternary-bg');
  color: get-color-inverted('primary-text');
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-main {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
}




/* Wierd Margins */
.footer__item.address {
  margin-right: 70px;
}

.footer__item.join {
  margin-right: 93px;
}
