%button {
  color: get-color-inverted('primary-text');
  background-color: get-color('accent');
  border-radius: 4px;
  border: none;
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
  transition: box-shadow 250ms $cubic;
}

.button {
  color: get-color-inverted('primary-text');
  background-color: get-color('accent');
  border-radius: 4px;
  border: none;
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
  transition: box-shadow 250ms $cubic;
}

.button:hover,
.button:focus {
  background-color: var(--accent-hover);
  box-shadow: 0 4px 4px $shadow-button;
}

.form-subscribe {
  display: flex;
}

.input-mail {
  width: 358px;
  margin-right: 12px;
  padding: 15px 16px;

  background-color: transparent;
  border: 1px solid $border-medium;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px $shadow-button);
  border-radius: 4px;

  color: $footer-links-color;
  font-size: 16px;
  line-height: 1.25;
}

.input-mail:focus {
  color: get-color('primary-bg');
}

.button-mail {
  display: flex;
  align-items: center;
  padding: 13px 29px;
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: get-color('primary-bg');
}

.filter__btn {
  min-width: 73px;
  padding: 6px 22px;
  background-color: get-color('secondary-bg');
  color: get-color('secondary-text');
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.03em;
  transition: color 250ms $cubic, background-color 250ms $cubic;
}

.filter__btn.active,
.filter__btn:hover,
.filter__btn:focus {
  background-color: get-color('accent');
  color: get-color('primary-bg');
  box-shadow: 0px 3px 1px $shadow-border, 0px 1px 2px $shadow-08,
    0px 2px 2px $shadow-12;
}
