.contacts {
  font-style: normal;

  &__link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: get-color('primary-text');
    transition: color 250ms $cubic;
  }

  &__link:hover,
  &__link:focus {
    color: get-color('accent');
  }
}

/* Contacts Header */
.header .contacts {
  display: flex;
}

.main-nav.contacts__item > .contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.main-nav.contacts__item + .main-nav.contacts__item {
  margin-left: 50px;
}

.link-icon {
  fill: currentColor;
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer.contacts {
  width: 231px;
}

.footer.contacts__link {
  color: $footer-links-color;
  transition: color 250ms $cubic;
  font-weight: 400;
}

.footer.contacts__link:hover,
.footer.contacts__link:focus {
  color: get-color('accent');
}

.footer.contacts__item {
  margin-top: 9px;
}
