// Backgrounds
$primary-bg-color: #fff;
$secondary-bg: #f5f4fa;
$ternary-bg: #2f303a;
$ternary-buttons: #afb1b8;
$backdrop-bg: rgba(0, 0, 0, 0.2);
$dev-bg: rgba(47, 48, 58, 0.8);
// Text colors
$primary-text-color: #757575;
$title-text-color: #212121;
$logo-color: #000;
$footer-links-color: rgba(255, 255, 255, 0.6);
$accent: #2196f3;
$accent-hover: #188ce8;
$project-accent: rgba(33, 150, 243, 0.9);
// Borders
$border-color: #ececec;
$border-box-color: #eeeeee;
$modal-form-border: rgba(33, 33, 33, 0.2);
// Fonts
$main-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;
// Animation
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
